<div class="above-header">
    {{ page.above_header }}
</div>
<header class="header">
    <div class="top-header">
        {{ page.branding }}
        {{ page.navigation }}
        {{ page.search }}
    </div>
    <section class="featured">
        {{ page.featured }}
    </section>
    <div class="front-header">
        {{ page.front_header }}
    </div>
    <div class="bottom-header">
        {{ page.bottom_header }}
    </div>
</header>
<section class="main">
   <main class="content">
     {{ page.content }}
   </main>
   <aside class="right-sidebar">
     {{ page.right_sidebar }}
   </aside>
</section>
<footer class="footer">
    {{ page.footer }}
</footer>